/* this is a comment in css*/
html{
    /* background-color:blue;  */
    font-family: sans-serif;
}


h1 {
    font-family: cursive;
    color: purple;
}


/* body{
    background-color: pink;
} */

.box{
    width: 200px;
    height: 200px;
    border-color: black;
    border-width: 5px;
    border-style:solid;
    font-size: 28px;
    /* display: block; display none removes from doc */
    /* visibility:hidden; */
    /* display: inline-block; */
}

.red-box{
    background-color:red;
}
.yellow-box{
    background-color:yellow;
}
.green-box{
    background-color:green;
}


.red-box-see-through{
    background-color: rgba(255, 0, 0, 0.5);
}
.yellow-box-see-through{
    background-color: rgba(255, 255, 0, 0.5);
}
.green-box-see-through{
    background-color: rgba(0, 255, 0, 0.5);
}


.center-align-text{
    text-align: center;
}

.right-align-text{
    text-align: right;
    position: relative;
}

.left-align-text{
    text-align: left;
}


h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: white;
    font-size: 40px;
}

.background-navy {
    height: fixed 100%;
    width: fixed 100%;
    background-color: #003262;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom:10%;

}

.nav-bar {
    position: sticky;
    height: max-content;
    width: fixed 100%;
    background-color: white;
    top: 0;
    padding-right: 10%;
    padding-left: 10%;

}

li {
    display: inline;
    padding-right: 30px;

}

.container {
    margin: 0;
    padding: 10px;
    width: fixed 100%;
    height:max-content;
}

.nav-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 40x;
    font-weight:400;
    padding: 30px;
    font-style: normal;
}

.container2  {
    height:max-content;
    width: 40%;
    
}

.container3 > * {
    display:inline-block;
}


p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    
}

.p2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    padding-right: 50px;
    padding-bottom: 50px;
    width: 40%;
    height:max-content;
    position:relative;

}

.p-inv {
    color:#003262;
    position: relative;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 50px;
    width:100%;
    height:auto;
}

.right {
    position: absolute;
    right: 0px;
    padding: 10px;
  }

.large-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color:white;
    font-size: 200px;

}

.top-right {
    position: absolute;
    top: 100px;
    right: 85px;
    height: 50%;
    width: auto;
}

.text-space-right {

    float: right;
    padding-left: 50px;
}

.img-float-right {
    width:50%;
    height:auto;
    float:right;

}

.img-float-left {
    width:50%;
    height:auto;
    float:left;

}


.p3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    padding-left: 50px;
    width: 40%;
    height:max-content;
    text-align: left;
    float: right;
}

.h-decades {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: left;
}

.img-padding-center {
    align-items: center;
    padding: 50px;
    width:100%;
    height:auto;
}

.img-padding-R-T-B {
    padding-right:50px;
    padding-top:50px;
    padding-bottom:50px;
    width:50%;
    height:auto;
}

.right-text-container {
    padding-right:50px;
    padding-top:50px;
    padding-bottom:50px;
    width:40%;
    height:max-content;
    float:left;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color:white;
    text-align: left;
}

.dropbtn {
    font-family: 'Open Sans', sans-serif;
    color: #003262;
    font-size: 40px;
    font-weight: 400;
    border: none;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}

.dropdown-content a {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color: #003262;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.show-menu {
    display:none;
    float:right;

}


@media screen and (max-width:900px) {
    .show-menu {
        display:block;
    }
}

@media screen and (max-width:900px) {
    .dropbtn {
        display:none;
    }
    .large-text {
        font-size: 100px;
        text-align:center;
    }
    .img-padding-R-T-B {
        width:100%;
        height:auto;
    }

}

iframe {
    width:100%;
    height:100%;
}

@media screen and (max-width:576px) {
    .right-text-container {
        width:100%;
        height:auto;
        float:none;
    }
    .p3 {
        width:100%;
        height:auto;
    }
    .p2 {
        width:100%;
        height:auto;
    }
    .img-float-left {
        float:none;
        width:100%;
        height:auto;
    }
    .img-float-right {
        float:none;
        width:100%;
        height:auto;
    }
}



